<div class="cancel-form">
  <label class="cancel-form__label" [for]="reasonSelectId">
    {{ reasonLabelText }}
  </label>
  <select
    class="cancel-form__input"
    [id]="reasonSelectId"
    [value]="selectedReasonKey ?? ''"
    (change)="onReasonKeyChange($event)"
  >
    <option value="">
      {{ reasonPlaceholderText }}
    </option>
    @for (key of reasonKeys; track key) {
    <option [value]="key">{{ optionLabel(key) }}</option>
    }
  </select>

  @if (isOtherSelected) {
  <label class="cancel-form__label" [for]="otherReasonInputId">
    {{ otherLabelText }}
  </label>
  <input
    type="text"
    class="cancel-form__input"
    [id]="otherReasonInputId"
    [placeholder]="otherPlaceholderText"
    [value]="otherReasonNote"
    (input)="onOtherNoteInput($event)"
  />
  }

  <div class="cancel-form__meta">
    <span class="cancel-form__hint" [class.cancel-form__hint--error]="!isValid">
      {{ helperText }}
    </span>
  </div>
</div>
